{% extends "base.html" %}
{% block content %}
<div class="card">
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#uploadBox" aria-expanded="false" aria-controls="uploadBox">
        Upload New File(s)
    </button>
</div>
<div class="collapse" id="uploadBox">
    <div class="card card-body">
        <form enctype="multipart/form-data" method="POST" action="">
            <div id="select">
                <label for="language" class="form-label">Language</label>
                <select id="language" class="form-select mb-3" name="language">
                    <option value="fa" selected="selected">Persian</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="fileUpload" class="form-label">Choose Files</label>
                <input class="form-control" id="fileUpload" type="file" name="file" accept="audio/*" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<br>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Uploaded Files
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Submitted</th>
                    <th>File</th>
                    <th>Language</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for file in entries %}
                <tr>
                    <td class="min">{{file.date}}</td>
                    <td>{{file.name}}</td>
                    <td class="min">{{file.language}}</td>
                    <td class="min">{{file.status}}</td>
                    <td class="min">
                        <button class="btn btn-outline-secondary p rounded-3">
                            <span class="oi oi-excerpt" title="Preview" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-outline-success p rounded-3">
                            <span class="oi oi-data-transfer-download" title="Save" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-outline-primary p rounded-3">
                            <span class="oi oi-clipboard" title="Copy" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-outline-danger p rounded-3">
                            <span class="oi oi-x" title="Delete" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}