{% extends "base.html" %}
  {% block h2 %}
    <h2>Speech Synthesizer</h2>
  {% endblock %}

  {% block content %}

    <div id="toolbar">
      <button id="rec">Start</button>
    </div>
    <textarea id="output" rows="6" cols="60"></textarea>
    <!-- <textarea id="output_en" rows="10" cols="60"></textarea> -->
  {% endblock %}

  {% block info %}
    <h2>About</h2>
    <ul>
      <li>Press the Start/Stop button to record your sentence</li>
      <li>The resulting text is automatically copied to the clipboard</li>
      <li>More improvements TBD</li>
    </ul>
  {% endblock %}

  {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="static/js/recorder.js"></script>
  {% endblock %}