{% extends "base.html" %}}

  {% block h2 %}
  <h2>File Upload</h2>
  {% endblock %}

  {% block content %}
  <div id="toolbar">
    <form enctype="multipart/form-data" method="POST" action="">
      <div id="select">
        <select id="language" name="language">
            <option value="en">English</option>
            <option value="fa" selected="selected">Persian</option>
        </select>
      </div>
      <p><input type="file" name="file" accept="audio/*" multiple></p>
      <p><input type="submit" value="Upload"></p>
    </form>
  </div>
  {% endblock %}

  {% block info %}
  <h2>About</h2>
    <ul>
      <li>Browse to select an audio file</li>
      <li>Multiple files can be selected by holding shift when selecting them</li>
      <li>Press upload to send files and begin transcription</li>
    </ul>
  {% endblock %}